* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-header"] {
    background-color: rgb(28, 28, 62);
    min-height: 100px;
    color: white;
    border: none;
}

[class*="blu-scuro"] {
    background-color: rgb(18, 18, 40);
    min-height: 100px;
    color: white;
    border: none;
}

[class*="verde"] {
    background-color: rgb(28, 62, 46);
    min-height: 100px;
    color: white;
    border: none;
}

[class*="bianco"] {
    background-color: white;
    min-height: 100px;
    color: rgb(0, 0, 0);
    border: none;
}